body {
  background: lightgray;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

caption {
  margin: 1em 0;
}

tbody {
  background-color: lightyellow;
}
tbody tr:nth-child(2n) {
  background-color: lightcyan;
}
tbody tr:hover {
  background-color: white;
}
td,
th {
  padding: 1em;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
}
