body {
  background: lightcyan;
}

.table_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.table_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
}
